* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

button:focus,
.btn:focus {
  outline: unset;
  box-shadow: unset;
}

input:focus,
.form-control:focus {
  outline: unset;
  box-shadow: unset;
}

.dropdown-toggle::after {
  display: none;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: unset;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.month__content-link.active,
.week__content-link.active {
  background: #3285FC 0% 0% no-repeat padding-box;
  color: white;
}

html {
  scroll-behavior: auto;
}

body {
  font-family: 'Roboto', sans-serif;
}


/*****                    *****/
/*****  Login Page Start *****/
/*****                  *****/

.language-select {
  color: #A8A8A8;
  background: white;
  top: 53px;
  right: 35px;

  &:focus {
    box-shadow: none;
    outline: unset;
  }

  @media (max-width: 320px) {
    top: 20px;
    right: 30px;
  }
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-icon {
      width: auto;
      height: auto;
    }

    &-text {
      font-family: "Gilroy ExtraBold", sans-serif;
      font-weight: 800;
      text-align: center;
      font-size: 20px;
      color: #707070;
      margin-top: 8px;
      line-height: 24px;
    }
  }


  &__content {
    min-width: 75%;
    max-width: 75%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-input {
      border: 1px solid #707070;
      border-radius: 17px;

      &::placeholder {
        color: #A8A8A8;
      }
    }

    &-btn {
      background: #3285FC 0% 0% no-repeat padding-box;
      border-radius: 17px;
      color: white;
      margin-bottom: 28px;

      &:focus {
        box-shadow: unset;
        outline: unset;
      }
    }

    &-link {
      color: #A8A8A8;
      font-size: 12px;
      text-align: center;
      display: block;
      text-decoration: underline;

    }
  }

}

/*****                  *****/
/*****  Login Page End *****/
/*****                *****/

/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */

/*****                    *****/
/*****  Month Page Start *****/
/*****                  *****/

.settings {
  top: 53px;
  right: 35px;

  &:focus {
    box-shadow: none;
    outline: unset;
  }

  @media (max-width: 320px) {
    top: 20px;
    right: 30px;
  }
}

.month {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    min-width: 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-link {
      border-radius: 16px;
      border: 1px solid #3285FC;
      color: #5A5A5A;
      text-align: center;
      margin-bottom: 20px;
      font-size: 26px;

      &:hover {
        background: #3285FC 0% 0% no-repeat padding-box;
        color: white;
      }
    }
  }
}

/*****                  *****/
/*****  Month Page End *****/
/*****                *****/

/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */

/*****                    *****/
/*****  Week Page Start *****/
/*****                  *****/

.back-page {
  top: 53px;
  left: 35px;
  color: #A8A8A8;
  font-size: 20px;

  &:focus {
    box-shadow: none;
    outline: unset;
  }

  .back-page-link {
    color: #A8A8A8;
  }

  @media (max-width: 320px) {
    top: 20px;
    right: 30px;
  }
}


.week {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    min-width: 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-link {
      border-radius: 16px;
      border: 1px solid #3285FC;
      color: #5A5A5A;
      text-align: center;
      margin-bottom: 20px;
      font-size: 26px;

      &:hover {
        background: #3285FC 0% 0% no-repeat padding-box;
        color: white;
      }
    }
  }
}

/*****                  *****/
/*****  Week Page End *****/
/*****                *****/

/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */

/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */

/*****                    *****/
/*****  Music Page Start *****/
/*****                  *****/

.music {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    min-width: 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 26px;
      text-align: center;
      color: #5A5A5A;
      margin-bottom: 50px;
      line-height: 32px;
    }

    &-rule {
      text-align: center;
      color: #3285FC;
      line-height: 19px;
      margin-bottom: 26px;
    }

    &-hint {
      max-width: 80%;
      font-size: 14px;
      color: #5A5A5A;
      text-align: center;
      margin-bottom: 20px;
      line-height: 17px;
    }
  }

  .player__content {
    min-width: 75%;
    max-width: 75%;
    margin-top: 50px;

    &-top {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 35px;

    }

    &-play {
      width: 63px;
      height: 63px;
      background: #3285FC 0% 0% no-repeat padding-box;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 25px;
    }

    &-pause {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 5px;
      width: 9px;
      height: 32px;
    }

    &-icon {
      width: 35px;
      height: 33px;
      margin-left: 3px;
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-load {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background: #AFAFAF;
    }

    &-loading {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      border-radius: 1px;
      width: 30%;
      background: #3285FC;
      z-index: 10;
    }

    &-return {
      margin-top: 33px;
      color: #3285FC;
      line-height: 17px;
    }
  }
}


/*****                  *****/
/*****  Music Page End *****/
/*****                *****/

/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */

/*****                    *****/
/*****  Forgot-password Page Start *****/
/*****                  *****/

.back-page-text {
  margin: 53px 35px 0 35px;
  font-size: 20px;
  position: relative;

  &:focus {
    box-shadow: none;
    outline: unset;
  }

  @media (max-width: 320px) {
    margin: 20px 30px 0 30px;
    .back-page-title {
      font-size: 17px;
      line-height: 17px;
    }
  }

  .back-page-link {
    color: #5A5A5A;
  }

}

.back-page-icon {
  position: absolute;
  left: 0;
  color: #A8A8A8;
}

.back-page-logout {
  position: absolute;
  right: 0;
  color: #A8A8A8;
  font-size: 26px;
  width: 30px;
  text-align: right;
}

.logout {
  position: absolute;
  right: -20px;
  display: none;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 6px;
}

.forgot {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  &__content {
    min-width: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-size: 18px;
      text-align: center;
      color: #5A5A5A;
      margin-top: 45px;
      line-height: 19px;
      margin-bottom: 0;
    }

    &-text {
      color: #ACACAC;
      text-align: center;
    }

    &-number {
      color: #3285FC;
    }

    &-input-group {
      border: 1px solid #707070;
      border-radius: 17px;
      margin-top: 27px;
      margin-bottom: 18px;

      &-text {
        border-radius: 17px;
        background: transparent;
        color: #3285FC;
      }

      &-border {
        display: block;
        position: absolute;
        right: 0;
        width: 1px;
        height: 16px;
        background: #707070;
      }
    }

    &-input {
      border: 1px solid #707070;
      border-radius: 17px;
      background: transparent;

      &::placeholder {
        color: #A8A8A8;
      }
    }

    &-btn {
      background: #3285FC 0% 0% no-repeat padding-box;
      border-radius: 17px;
      color: white;
      margin-bottom: 28px;

      &:focus {
        box-shadow: unset;
        outline: unset;
      }
    }

  }
}


/*****                  *****/
/*****  Forgot-password Page End *****/
/*****                *****/

/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */


/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */

/*****                    *****/
/*****  Settings Page Start *****/
/*****                  *****/


.menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 70px;

  &__content {
    min-width: 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column;

    &-text {
      color: #5A5A5A;
      font-size: 18px;
    }

  }
}

.social {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 115px;

  &__content {
    min-width: 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column;

    &-title {
      color: #3285FC;
      text-align: center;
      margin-bottom: 0;
      line-height: 19px;
    }

    &-icon {
      margin-top: 16px;
      width: 26px;
      height: 26px;
      margin-right: 26px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.logout-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &-title {
    text-align: center;
    color: #5A5A5A;
    font-size: 15px;
    margin-top: 8px;
  }

  &-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    width: 268px;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #00000029;
    border-radius: 6px;
    padding: 20px 18px;
  }

  &-btn {
    border-radius: 50%;
    font-size: 18px;
    color: #5A5A5A;
    width: 55px;
    height: 55px;
    text-align: center;

    &:hover {
      background: #3285FC 0% 0% no-repeat padding-box;
      color: white;
    }

    &.active {
      background: #3285FC 0% 0% no-repeat padding-box;
      color: white;
    }
  }
}

/*****                  *****/
/*****  Settings Page End *****/
/*****                *****/

/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */
/* ////////////////////// ////////////////////// */